# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
.env/
.envrc

# VS Code
.vscode/

# Test/coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node
node_modules/

# Misc
*.sqlite3
*.db
*.bak
*.swp
*.swo

# Build
build/
dist/
*.egg-info/

# Docker
*.pid

# Others
*.orig
*.rej
